# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
year = 2022
x=2022

print(x)
print(year)
type (year)

2022
2022

int

##### Assinging float

In [6]:
my_float = 3.3 
print(my_float)
type(my_float)

3.3

float

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2 
num2 = 5.4 

out1 = num1+num1

print(out1)
type (out1)

out2 = num1 + num2 
print (out2) 
type (out2)

4
7.4

float

##### Subtraction

In [13]:
dif1 = (num2 - num1)
print(dif1)
type(dif1)

3.4000000000000004

float

##### Multiplication

In [21]:
prod1 = num1 * num2 
print (prod1)

prod2 = num1 * 6 
print(prod2)

10.8
12

##### Division

In [25]:
div1 = 12 / 4 
print(div1)
type(div1) 

div2 = 15/6
print(div2)

3.0
2.5

##### Floor Division

In [28]:
fdiv1 = 12 // 4 
print (fdiv1) 
type (div1) 

fdiv2 = 15//6 
print (fdiv2)

3
2

##### Modulo

In [31]:
mod1 = 15 % 6 
print (mod1)
type (mod1) 

mod2=12%2
print(mod2)

3
0

##### Exponential

In [34]:
exp1= 3**2 
print(exp1)

exp2= 2**3 
print (exp2)

9
8

### String Input-Output

##### String Assignment

In [37]:
name="shoha"
print(name)

name2= 'ivan'
print(name2)
type(name)

shoha
ivan

str

##### print() <br>
<p>Don't forget about end=' '</p>

In [40]:
print("This is my first name:", name)

This is my first name: shoha

'This is my first name:'

##### String Concatenation

In [45]:
first = "John"
last = "Smith"
full = first + " " + last 
print (full)

John Smith

##### Type Conversion

In [52]:
num_str = "32"
print(num_str)
type (num_str)

changed = int(num_str)
print(changed)
print(type(changed))
print(type(num_str))

32
32
<class 'int'>
<class 'str'>

##### input()

In [64]:
ans1 = input("what is your name?")

ans2 = input("what is your age")

print ("my name is " +ans1+" and my age is " +ans2)

my name is grey and my age is 2013
my car is

##### format()

In [60]:
fstr = f"my name is {ans1} and my age is {ans2}"
print(fstr)

my name is kaile and my age is 25

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [69]:
ans1 = input("what color is your car")
ans2 = input("what year is your car")
ans3 = input("what make is your car")
ans4 = input("what model is your car") 
print("my car is "  +ans1+" year is " +ans2+ " make is " +ans3+ " model is " +ans4)

my car is grey year is 2013 make is lexus model is ct200h

In [72]:
print("my car is "  +ans1+", year is " +ans2+ ", make is " +ans3+ ", model is " +ans4)

my car is grey, year is 2013, make is lexus, model is ct200h

### If Statements

In [94]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

age1 = 9
age2 = 11

if age1 == age2: 
    print ("equal value")
else: 
    print("not equal")

if age1 > age2:
    print ("person 1 is older")
elif age2 > age1: 
    print ("person 2 is older")
else:
    print("they are the same age")

print ("done")

not equal
person 2 is older
done

##### 'is' keyword

In [98]:
# checking for reference equality 

age3 = 10 # setting (or declaring) variable 
print (age3 == 11) # checking value 
print(age3)

num1 = 10 

age3 is num1

False
10

True

##### 'in' keyword

In [109]:
# check if something is inside a str (or list)
name = "Shoha Tsuchida"
"S" in name 

if "ho" in name:
    print("haha, you have a ho in your name") 
else: 
    print("I'm out of jokes")

    # backlash is an escape character for strings...
     
print("Shoha said, \"I'm hungry\"..")

haha, you have a ho in your name
Shoha said, "I'm hungry"..

##### 'not in' keyword'

In [108]:
sentence = "Hello, it's a beautiful day today"
if 'a' not in sentence:
    print("You are missing the best vowel")
else:
    print("Found A")

Found A

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [123]:
var=input("what is P")

if "P" in var or "p" in var:
    print("haha, you have a P in your name") 
else: 
    print("Doesnt have P")

haha, you have a P in your name

## Using 'and'/'or' with If Statements

In [127]:
# see truth tree above 

age = 17 
if age > 18 and age < 65:
    print ("1: I'm old enough but still young")
if age > 18 or age < 65: 
    print("2: I'm old enough but still young")

2: I'm old enough but still young

### Elif Statements

In [135]:
# see above 
test = "shoha"
test[4]

'a'

### Else Statements

In [ ]:
# see above

### For Loops

In [137]:
name = "hello"
# SYNTAX # for <variable> in <Interable> 
# for letter in name: 
   #print (letter)

for index in range(len(name)):
    print(index)
    print(name[index])

0
h
1
e
2
l
3
l
4
o

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [142]:
for i in range(5):
    if i == 3:
        continue
    print(i)

print("done")

0
1
2
4
done

##### Break Statement

In [ ]:
# will break out of current loop

In [143]:
for i in range(5):
    if i == 3:
        break
    print(i)

print("done")

0
1
2
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
if True:
    pass
else:
    pass

##### Double For Loops

In [149]:
for i in range (3):
    for j in range(5):
        print("i=",i,"j=" , j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 0 j= 4
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 1 j= 4
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 2 j= 4

### While Loops

In [152]:
# SYNTAX # while <condition>:

num = 0 
while num < 5:
    print(num)
    num = num + 1

0
1
2
3
4

##### Looping 'While True'

In [157]:
game_over = False
while True: 
    print("infinite loop")
    if game_over == False: 
        break

infinite loop

##### While & For Loops Used Together

In [159]:
num = 0 
while num < 5: 
    print("While loop Iteration:",num)
    for i in range(2):
        print("For loop iteration:",i)
    num = num + 1

While loop Iteration: 0
For loop iteration: 0
For loop iteration: 1
While loop Iteration: 1
For loop iteration: 0
For loop iteration: 1
While loop Iteration: 2
For loop iteration: 0
For loop iteration: 1
While loop Iteration: 3
For loop iteration: 0
For loop iteration: 1
While loop Iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [164]:
# start,stop,step
for num in range(2,10,2):
    print(num)

2
4
6
8

##### len()

In [167]:
x = "frieojgijeirgjetgre"
len(x)  
y = [1,2,3,4,5,6,7,8,9,10]

##### help()

In [170]:
help(len )

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [174]:
# check a variable to find out what type it is 

isinstance(4.4,int)

isinstance (4,int)

# must put print to see both

True

##### abs()

In [175]:
# absolute value 

abs(-5)

5

### Try and Except

In [2]:
# try and except is for errors
while True:
    try:
        test = 0
        guess = input("Guess a number between 0 and 10!")
        guess= int(guess)
    
        if guess == test:
            print("Hurray, you guessed the right answer: 0")
            break
        else:
            print(f"You guessed: {guess} Guess again..")
    except:
        print("Invalid response..please enter a digit")

You guessed: 3 Guess again..
Invalid response..please enter a digit
Hurray, you guessed the right answer: 0

### Lists

##### Declaring Lists

In [55]:
var = [1,2,3,4,5]
list2 = ["Shoha", "Christian", "Kaile"]
print(list2)
print(var)
type(var)

{'Christian', 'Kaile', 'Shoha'}
[1, 2, 3, 4, 5]

list

##### Indexing a List

In [63]:
list2 = ["Shoha", "Christian", "Kaile"] 
print(list2[1])
print(list2[0])
print(list2[2])

print(list2[-2])

# [-#] starts from back, reversed

Christian
Shoha
Kaile
Christian

##### .append()

In [66]:
# .append = add to list, the (.) means you can attach it ex: list3.append(4)

list3 = [1,2,3]
print(list3)
list3.append(4)
print(list3)

[1, 2, 3]
[1, 2, 3, 4]

##### .insert()

In [67]:
# .insert takes in position & value (pos,val)

list3 = [1,2,3]
list3.insert(2,7)
list3.insert(3,8)
print(list3)

[1, 2, 7, 8, 3]

##### .pop()

In [73]:
# .pop will remove from end, if nothing is in () will remove last elemnent, 
# if something is put (5), will remove that element
# .pop() what position you want to remove
list4 = ["Bob", "Max", "Elena", "Maria", "Mike", "Shoha", "Christian"]
list4.pop()
print(list4)
list4.pop(4)
print(list4)

['Bob', 'Max', 'Elena', 'Maria', 'Mike', 'Shoha']
['Bob', 'Max', 'Elena', 'Maria', 'Shoha']


##### .remove()

In [74]:
# .remove takes out actual item 
# .remove(0) = error message, have to put .remove(value "bob")
list4 = ["Bob", "Max", "Elena", "Maria", "Mike", "Shoha", "Christian"]
list4.remove("Shoha")
list4.remove("Christian")
print(list4)

['Bob', 'Max', 'Elena', 'Maria', 'Mike']

##### del()

In [26]:
# index to be removed, not value, specify list and postion 


list4 = ["Bob", "Max", "Elena", "Maria", "Mike", "Shoha", "Christian"]
del(list4[3])
print(list4)

['Bob', 'Max', 'Elena', 'Mike', 'Shoha', 'Christian']

##### Concatenating Two Lists

In [28]:
# concatenating means put together
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = list1 + list2 
print (list3)

print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8]

##### Lists Within Lists

In [78]:
grades = [[9,8,7,8], [9,9,9,9], [10,9,7,10]]
grades[2] [1]

9

##### Looping Through Lists

In [51]:
grades = [[9,8,7,8], [9,9,9,9], [10,9,7,10]] 
for person in grades: 
    print("This is a new person")
    for grade in person:
        if grade >= 9:
           print("Hurray you scored an A!!") 
        else: 
               print("Tough")

This is a new person
Hurray you scored an A!!
Tough
Tough
Tough
This is a new person
Hurray you scored an A!!
Hurray you scored an A!!
Hurray you scored an A!!
Hurray you scored an A!!
This is a new person
Hurray you scored an A!!
Hurray you scored an A!!
Tough
Hurray you scored an A!!

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [7]:
range(1, 10)

for number in range (1,11): 
    print(number**3)

# also can do it like this
for x in range(1,11):
    print(x**3)

1
8
27
64
125
216
343
512
729
1000
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
range (1,101)

for num in range(1,101):
    count = 0 
    for i in range(2, num//2+1):
        if num % i == 0:
            count = count + 1
            break 
    if count == 0 and num !=1:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [6]:
age = input("What is your age?")
try:
    age = int(age)
    if age < 18:
        print('kids')
    elif age >=18 and age<65:
        print('adults')
    else:
        print('seniors')
except:
    print("Invalid response..please type a number (digits 1234567890)")

Invalid response..please type a number (digits 1234567890)